@import "main";
@import "secure";

.section {
  margin-bottom: 200px;

  &-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 0 120px;

    &__title {
      @include block-title;
    }

    &__descr {
      @include block-descr;
      color: #54586A;
      margin-bottom: 0;
    }

    &__button {
      display: flex;
      position: relative;
      flex-direction: row;
      margin-top: 40px;
    }

    &__phone {
      margin-top: 67px;
    }
  }
}