@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/PTSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Courier New';
	src: url('../fonts/CourierNewPSMT.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'PTSansRegular';
    src: url("../fonts/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}