/* MIXINS */

@mixin center {
	display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/* MAIN SETTINGS */

* {
	outline: 0;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

.container {
	position: relative;
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 15px;
}

/* HEADER */

.section-header {
	max-width: 100%;
}

.header {
	position: relative;
	max-width: 100%;
	padding: 20px 0;
	margin: 0 auto;
	background-color: #3B444A;

	.modal {
		display: none;
		width: 4%;
		fill: #ffffff;
		cursor: pointer;
	}

	.modal-close {
		display: none;
		width: 4%;
	}

	.header-logo {
		display: inline-block;
		width: 10%;
	}

	.header-nav {
		@include center;
		max-width: 50%;
		right: 31%;
	}

	.header-buttons {
		@include center;
		width: 30%;
		//transform: translate(0%,-50%);
		right: 0;

		button {
    		display: inline-block;
     		width: 40%;
			line-height: 18px;
			text-transform: uppercase;
			color: #ffffff;
			text-decoration: none;
			padding: 13px 0;
			border: none;

			&:first-child {
				background-color: #d859f8;
			}

			&:last-child {
				background-color: #1ce635;
			}
		}
	}
}

.header-countries {
	@include center;
	width: 100px;
	height: 20px;
	overflow: hidden;

	.country {
		position: absolute;
		width: 70px;
	    padding: 0 20px;
		color: #ffffff;
	    background: none;
	    border: none;
		-webkit-appearance: none;
        -moz-appearance: none;

        .country-item {
        	background-color: #3b444a;
        	list-style: none;
        	cursor: pointer;
        	padding: 2px 0;

        	img {
        		width: 25%;
        		margin: 0 3px;
        	}
        }

        .active {
    		display: block;

    		&:after {
    			content: '';
    			border-style: solid;
			    border-width: 5px 5px 0 5px;
			    border-color: #31d227 transparent transparent transparent;
			    pointer-events: none;
			    position: absolute;
			    top: 5px;
			    right: 26px;
    		}
    	}

    	.unactive {
    		display: none;
    	}
	}
}

.header-countries select::-ms-expand {
    display: none;
}

.nav-menu {
	li {
		display: inline-block;
		line-height: 0;
		list-style: none;
		margin-right: 10px;

		&:first-child {
			position: relative;
			margin-right: 40px;
		}

		a {
			color: #ffffff;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}

.modal-window {
	display: none;
	position: relative;
	width: 100%;
	top: -500px;

    .modal-menu {
    	li {
    		text-align: center;
    		padding: 5px 0;

    		&:hover {
    			background-color: #d859f8;

    			.modal-link {
    				color: #ffffff;
    			}
    		}

    		.modal-link {
    			color: #d56fef;
    			text-decoration: none;
    			text-transform: uppercase;
    		}

    		&:first-child {
    			position: relative;

    			.new {
    				top: 7px;
    				right: 30%;
    			}
    		}
    	}
    }
}

.new {
    position: absolute;
    top: -29px;
    right: -18px;
    transform: rotate(30deg);
    border-bottom: 1px solid #29ea38;
    border-top: 1px solid #29ea38;
    line-height: 17px;
    text-transform: uppercase;
    color: #29ea38;
}

/* MEDIA */

@media screen and (max-width: 860px) {
 .header-nav,
 .header-buttons button {
 	font-size: 14px;
 }
}

@media screen and (max-width: 780px) {
 .header {
 	.modal {
		display: inline-block;
	}

	.open {
		display: inline-block;
		opacity: 1;
		transition: opacity 3s, linear 3s;
	}

	.menu-close {
		display: none;
		opacity: 0;
		transition: opacity 3s, linear 3s;
	}

	.modal-close {

	}

 	.header-buttons {
 		display: none;
 	}

 	.header-logo {
 		margin-left: 25px;
 	}
 }

 .nav-menu {
 	display: none;
 }
}