	<footer class="footer @@footer">
		<div class="container">
            <div class="row">
				<div class="col-xs-2">
					<ul class="footer_menu">
						<li>
							<a href="#">О компании</a>
						</li>
						<li>
							<a href="#">Курсы</a>
						</li>
						<li>
							<a href="#">Библиотека</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-3">
					<ul class="footer_menu">
						<li>
							<a href="#">Пользовательское соглашение</a>
						</li>
						<li>
							<a href="#">Карта сайта</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-4">
					<div class="footer_socLink btnSoc-group">
						<a href="#" class="btnSoc btnSoc-default btnSoc-vk"></a>
						<a href="#" class="btnSoc btnSoc-default btnSoc-fb"></a>
						<a href="#" class="btnSoc btnSoc-default btnSoc-ok"></a>
						<a href="#" class="btnSoc btnSoc-default btnSoc-gp"></a>
						<a href="#" class="btnSoc btnSoc-default btnSoc-tw"></a>
					</div>
				</div>
				<div class="text-left">
					<div class="footer_phone">+7 (800) 888-99-88</div>
					<div class="footer_time">с 8 до 19 звонок по Москве</div>
					<a href="#" class="btn btn-warning btn-xs footer_btnCall">Заказать звонок</a>
                    <p class="footer_email">mail@example.ru</p>
                    <a href="#" class="footer_feedback">Форма обратной связи</a>
				</div>
                <div class="footer_row">
                    <div class="footer_logo">
                        <a href="#" class="">
                            <img src="../img/footer-logo.png" alt="logo" >
                        </a>
                    </div>

                    <div class="footer_copyright">
                        <span>IO-Group 2017. Все права защищены. 634034, Томск, ул. Учебная, 47а, оф. 501</span>
                    </div>            
                </div>
                
			</div>
        </div>
	</footer>

	<script src="/js/all.js"></script>

</body>
</html>