* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#header {
  height: 100vh;
  background: #e5ddcd;
  position: relative;
}

.about {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 200px;
}

.foto {
  width: 500px;
  height: 500px;
  background-image: url("./foto.png");
  background-size: cover;
}

.description {
  font-size: 24px;
}

.price {
  font-size: 32px;
}

@media (max-width: 600px) {
  #header {
    height: 100vh;
    padding: 20px 0;
  }

  .about {
    flex-direction: column;
    align-items: center;
  }

  .info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 20px;
    text-align: center;
  }

  .foto {
    width: 100%;
    height: 300px;
    background-size: cover;
  }

  .description {
    font-size: 18px;
  }

  .price {
    font-size: 24px;
  }
}