doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        title Шаблон
        <!--[if lt IE 9]>
        script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
        <![endif]-->
        link(rel='stylesheet', href='static/css/index.css')
    body
        h1 Web-template

        script(src="static/js/index.js")