doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        title Web-template
        <!--[if lt IE 9]>
        script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
        <![endif]-->
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk", crossorigin="anonymous")
        link(rel='stylesheet', href='static/css/index.css')
    body
        nav.nav.navbar.navbar-light
            .container-block.container-fluid
                .nav-logo
                    img(src="static/images/logo.svg")
                .nav-menu
                    ul.nav-menu-block.menu
                        li.menu-item
                            a(href="#").menu-link Home
                        li.menu-item
                            a(href="#").menu-link About us
                        li.menu-item
                            a(href="#").menu-link Service
                        li.menu-item
                            a(href="#").menu-link Prices
                        li.menu-item
                            a(href="#").menu-link Blog
                .nav-auth
                    a(href="#").nav-auth__button Sign in
        section.section
            .section-block.container-fluid
                h1.section-block__title Support your business
                p.section-block__descr Support your business with professional solution


        script(src="static/js/index.js")